#patientPage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}

#displayBy {
    display: flex;
    flex-direction: column;    
}

#byId {
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
}

#byName {
    display: flex;
    flex-direction: column;
}

#createPatient {
    display: flex;
    flex-direction: column;
}

#updatePatient {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
}

#allPatients {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hiddenPartAll {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.field {
    width: 40%;
}

.patientField {
    text-align: center;
    margin-bottom: 5px;
    border-radius: 5px;
}

.patientField:hover {
    border-color: #030C38;
}

button {
    margin-bottom: 1em;
}

input {
    margin-bottom: 2em;
}

.activeClassAll {
    background-color: #64a6f279;
    box-shadow: 5px 5px #030C38;
    border-color: #030C38;
}
.activeClassAll:hover {
    background-color: #030C38;
    color: #64A6F2;
    font-family: bold;
    box-shadow: 5px 5px #64a6f279;
    border-color: #64A6F2;
}

.inactiveClassAll {
    background-color: lightgray;
    box-shadow: 5px 5px grey;
    border-color: grey;
}
.inactiveClassAll:hover {
    background-color: grey;
    box-shadow: 5px 5px lightgray;
    font-family: bold;
    border-color: lightgray;
}

.activeClass {
    background-color: #64a6f279;
    box-shadow: 5px 5px #030C38;
    border-color: #030C38;
}

.inactiveClass {
    background-color: lightgray;
    box-shadow: 5px 5px grey;
    border-color: grey;
}


#formNewPatient {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deleteButton {
    margin-top: 1em;
    width: 3em;
    height: 2em;
    background-color: lightcoral;
    color: white;
    border-radius: 5px;
}
.deleteButton:hover {
    background-color: red;
}
