<div id="patientPage">

  <div id="allPatients">
    <app-generic-button (click)="toggleAllPatients()" title="Afficher tous les patients"></app-generic-button>

    <div *ngIf="!hidden_all_patients" id="hiddenPartAll">
      <div *ngFor="let patient of patients">
        <div class="field">
          <app-generic-fieldset-patient type="all" [patient]="patient"></app-generic-fieldset-patient>
          <div id="buttons">
            <button class="deleteButton" (click)="deletePatient(patient.id)">X</button>
            <button class="activateButton" (click)="activePatient(patient.id)">A</button>
            <button class="addDpct" [routerLink]="['/add-deplacement']"
              [queryParams]="{idInf: patient.infirmier?.id, idPat:patient.id}">+ Dpct</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="displayBy">
    <div id="byId">
      <app-generic-button (click)="getPatientById(idPatient)" title="Afficher par id"></app-generic-button>

      <select id="selectIdPatient" #idPatient>
        <option>Choisir un id</option>
        <option *ngFor="let item of patients" value={{item.id}}>{{item.id}}</option>
      </select>

      <div [hidden]="hidden_by_id">
        <app-generic-fieldset-patient type="byId" [patient]="patientId"></app-generic-fieldset-patient>
      </div>
    </div>

    <div id="byName">
      <app-generic-button (click)="getPatientByName(namePatient)" title="Afficher par nom"></app-generic-button>

      <select id="selectNamePatient" #namePatient>
        <option>Choisir un nom</option>
        <option *ngFor="let item of patients" value={{item.nomPatient}}>{{item.nomPatient}}</option>
      </select>

      <div [hidden]="hidden_by_name">
        <app-generic-fieldset-patient type="byName" [patient]="patientName"></app-generic-fieldset-patient>
      </div>
    </div>
  </div>

  <div>
    <div id="createPatient">
      <app-generic-button (click)="togglePatient()" title="Créer un patient"></app-generic-button>

      <div [hidden]="hidden_create">
        <app-generic-form-patient (submitCreate)="submitCreate($event)"></app-generic-form-patient>
      </div>
    </div>

    <div id="updatePatient">
      <app-generic-button (click)="toggleUpdatePatient(idUpdatePatient)" title="Mettre à jour un patient">
      </app-generic-button>

      <select id="selectUpdatePatient" #idUpdatePatient (change)="toggleUpdatePatient(idUpdatePatient)">
        <option>Choisir un nom</option>
        <option *ngFor="let item of patients" value={{item.id}}>{{item.nomPatient}}</option>
      </select>

      <div [hidden]="hidden_update">
        <form id="formUpdatePatient" [formGroup]="updatePatientForm" (ngSubmit)="submitUpdate(idUpdatePatient)">
          <div>
            <label class="labelInForm">Nom : </label>
            <input type="text" formControlName="nom" />
          </div>
          <div>
            <label class="labelInForm">Prenom : </label>
            <input type="text" formControlName="prenom" />
          </div>
          <div>
            <label class="labelInForm">Sexe (F ou M) : </label>
            <input type="text" formControlName="sexe" />
          </div>
          <div>
            <label class="labelInForm">Date de naissance : </label>
            <input type="text" formControlName="dateNaissance" />
          </div>
          <div>
            <label class="labelInForm">Adresse : </label>
            <input type="text" formControlName="adresse" />
          </div>
          <div>
            <label class="labelInForm">Numéro de sécu : </label>
            <input type="text" formControlName="numSecu" />
          </div>
          <div>
            <label class="labelInForm">Infirmier(e) : </label>
            <select #refNomInf formControlName="infirmier" (change)="getInfirmierById(refNomInf.value)">
              <option *ngFor="let inf of infirmiers" value={{inf.id}}>{{inf.nom}} {{inf.prenom}}</option>
            </select>
          </div>
          <button type="submit" [disabled]="!updatePatientForm.valid">Valider</button>
        </form>
      </div>
    </div>
  </div>
</div>