#patientPage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}

#displayBy {
    display: flex;
    flex-direction: column;    
}

#byId {
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
}

#byName {
    display: flex;
    flex-direction: column;
}

#createPatient {
    display: flex;
    flex-direction: column;
}

#updatePatient {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
}

#allPatients {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hiddenPartAll {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.field {
    width: 40%;
}

.patientField {
    text-align: center;
    margin-bottom: 5px;
    border-color: #64A6F2;
    box-shadow: 1px;
}

.patientField:hover {
    border-color: #030C38;
}

button {
    margin-bottom: 1em;
}

input {
    margin-bottom: 2em;
}

.activeClass {
    background-color:lightcyan;
}

.inactiveClass {
    background-color: lightgray;
}

#formNewPatient {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deleteButton {
    margin-top: 1em;
    width: 3em;
    height: 2em;
    background-color: lightcoral;
    color: white;
    border-radius: 5px;
}
.deleteButton:hover {
    background-color: red;
}
