#infirmierPage {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}

#byId {
    display: flex;
    flex-direction: column;
}

#byName {
    display: flex;
    flex-direction: column;
}

.infirmierField {
    width: 25%;
    text-align: center;
    margin-bottom: 5px;
}

button {
    margin-bottom: 1em;
}

input {
    margin-bottom: 2em;
}

.activeClass {
    background-color:lightcyan;
}

.inactiveClass {
    background-color: lightgray;
}