<div id="infirmierPage">

  <div id="allInfirmiers">
    <app-generic-button (click)="toggleAllInfirmiers()" title="Afficher tous les infirmiers"></app-generic-button>

    <div *ngIf="!hidden_all_infirmiers" id="hiddenPartAll">
      <div *ngFor="let infirmier of infirmiers">
        <div class="field">
          <app-generic-fieldset-infirmier type="all" [infirmier]="infirmier"></app-generic-fieldset-infirmier>
          <div id="buttons">
            <button class="deleteButton" (click)="deleteInfirmier(infirmier.id)">X</button>
            <button class="activateButton" (click)="activeInfirmier(infirmier.id)">A</button>
            <button class="addDpct" [routerLink]="['/deplacement']" [queryParams]="{idInf: infirmier.id}">+ Dpct</button> 
          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="displayBy">
    <div id="byId">
      <app-generic-button (click)="getInfirmierById(idInfirmier)" title="Afficher par id"></app-generic-button>

      <select id="selectIdInfirmier" #idInfirmier>
        <option>Choisir un id</option>
        <option *ngFor="let item of infirmiers" value={{item.id}}>{{item.id}}</option>
      </select>

      <div [hidden]="hidden_by_id">
        <app-generic-fieldset-infirmier type="byId" [infirmier]="infirmierId"></app-generic-fieldset-infirmier>
      </div>
    </div>

    <div id="byName">
      <app-generic-button (click)="getInfirmierByName(name)" title="Afficher par nom"></app-generic-button>
         
      <select id="selectNameInfirmier" #name>
        <option>Choisir un nom</option>
        <option *ngFor="let item of infirmiers" value={{item.nom}}>{{item.nom}}</option>
      </select>

      <div [hidden]="hidden_by_name">
        <app-generic-fieldset-infirmier type="byName" [infirmier]="infirmierName"></app-generic-fieldset-infirmier>
      </div>
    </div>
  </div>

  <div>
    <app-infirmier-create></app-infirmier-create>
    <app-infirmier-update></app-infirmier-update>
  </div>
  

</div>