#deplacement-page {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

#getDeplacements{
    display: flex;
    justify-content: space-around;
    width : 100%; 
}

#updateAndDeleteButtons{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

#updateButton{
    background-color: #64A6F2;
    color: #030C38;
    font-weight: bold;
}

#updateButton:hover {
    background-color: #030C38;
    color: #64A6F2;
    cursor: pointer;
}

#deleteButton{
    background-color: red;
    color: white;
    font-weight: bold;
}

#deleteButton:hover {
    background-color: #ed8989;
    color: white;
    cursor: pointer;
}

#byPatient{
    display: flex; 
    flex-direction: column;
    align-items: center;
}
#byPatientAndInfirmier{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

input{
    width: 150%;
}

select {
    margin-bottom: 2.5em;
}